body {
    background-image: url(/media/background.jpg);
    background-size: cover;
    backdrop-filter: blur(0.5rem);
}

/* Profile */
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#profile img {
    border-radius: 50%;
    width: 8rem;
}
#profile h1 { font-size: 4.5rem; font-family: var(--headerFont); }
#profile h2 {
    font-weight: 300;
    margin: -0.25rem 0 1rem 0;
    color: var(--darkest4);
}

/* Card */
main {
    font-family: 'Sora';
    max-width: 50rem;
    margin: auto;
    padding: 4rem;
    min-height: calc(100vh - 3rem); /* Height of page minus height of footer */
}

/* Footer */
footer {
    font-family: var(--primaryFont);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
p, a { color: var(--lightest3); }

/* Mobile */
@media (max-width: 44rem) {
	main {
        padding: 4rem 1rem;
        min-height: calc(100vh - 6rem); /* Height of page minus height of footer */
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.1rem;
        height: 6rem;
    }
    #profile h1 { font-size: 3rem; }
    #profile h2 { font-size: 1rem }
}

/* Link area */
#links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: -0.5rem 0rem 2rem;
}
#links a img { width: 1.5rem; height: 1.5rem; }

#links a { transition: scale 0.5s var(--ease); }
#links a:hover { scale: 1.1; }
#links a:active { scale: 0.95; }

/* AmazinAxel.com link arrow */
a.linkArrow {
	display: flex;
	line-height: 1.5rem;
	text-decoration: none !important;
	justify-content: flex-end;
}
.linkArrow::after {
	content: url(/media/icons/arrow-right.svg);
	margin-left: 4px;
	height: 0;
	filter: brightness(0) saturate(100%) invert(90%) sepia(22%) saturate(96%) hue-rotate(181deg)
		brightness(98%) contrast(88%);
	transition: transform 0.3s var(--ease);
}
.linkArrow:hover::after {
	transform: translateX(2px);
}
.linkArrow:active::after {
	transform: translateX(5px);
}