:root {
	/* Polar Night */
	--darkest1: #2e3440;
	--darkest2: #3b4252;
	--darkest3: #434c5e;
	--darkest4: #4c566a;

	/* Snow Storm */
	--lightest1: #eceff4;
	--lightest2: #e5e9f0;
	--lightest3: #d8dee9;

	/* Fonts */
	--headerFont: 'Monument Valley', Roboto, Helvetica, Arial, sans-serif;
	--primaryFont:
		'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	--ease: cubic-bezier(0, 0.6, 0.3, 1);
}
